<p>
    <strong>Title:</strong>
    <%= @memo.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @memo.text %>
</p>

<!-- The link below will allow you to go back to the index action -->
<%= link_to 'BACK', memos_path %>
